body {
	width: 100%;
	height: 100%;
	background-color: black;
}

#lobby-background {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.chat-window, .game-list, .leaderboard {
	background-color: rgba(255, 255, 255, .5);
	height: 900px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.5);
	border-width: 5px;
	border-radius: 15px;
	z-index: 500;
}

.chatInput {
	position: relative;
	z-index: 400;
	margin-bottom: 5px;
}

.gameBackground {
	height: 70vw;
	background-image: url(../mars-surface.jpg);
	z-index: 250;
}

.triviaCard, .createRoom, .scoreboard {
	background-color: rgba(255, 255, 255, 0.35);
	color: #FFFFFF;
}

.createRoom {
	margin: 0 auto;
	position: relative;
	top: 200px;
}

.informationCard {
	height: 200px;
	width: 125px;
	background-color: rgba(0, 0, 0, 0.35);
	color: #FFFFFF;
}

/* =============
 * FRONT PAGE
 * =============
 */

.marsBackground {
	height: 100%;
}

.titleText, .loginText, .guestText, .registerText, .registerTextTop, .guestTextTop, .guestInput, .informationText {
	font-family: 'Comfortaa';
	color: white;
	position: absolute;
	font-style: bold;
	z-index: 1000;
}

.presenterText {
	font-family: 'Comfortaa';
	font-size: 20px;
}

.loginText, .guestText, .registerText, .guestTextTop, .registerTextTop {
	font-size: 35px;
}

.loginText {
	top: 27%;
}

.guestText {
	top: 34%;
}

.registerText {
	top: 41%;
}

.registerTextTop {
	top: 27%;
}

.titleText {
	font-size: 75px;
	top: 15%;
}

.loginForm {
	position: absolute;
	top: 34%;
	z-index: 100;
}

.loginInput {
	font-family: 'Comfortaa';
	font-size: 25px;
	margin-bottom: 7%;
}

.guestTextTop {
	top: 27%;
}

.hidden {
	display: none;
}

.informationText {
	font-size: 30px;
}

.leaderboardText {
	font-family: 'Comfortaa';
	font-size: 16px;
}

.badge-dark {
	padding: 5px 5px 3px 5px;
	margin-left: 5px;
	border-radius: 4px;
}

.user-badge {
	margin-left: 5px;
	margin-right: 0px;
	padding: 0px 0px;
	height: 35px;
}

.checkmark-placeholder {
	margin-left: 15px;
}


.presenterQuestionCard {
	background-color: rgba(255, 255, 255, 0.35);
	color: #FFFFFF;
	padding: 0 0;
}

.answered {
	color: rgb(255, 255, 255);
	font-style: italic;
}

.unanswered {
	color: rgba(126, 126, 126, 0.35)
}

.countdown {
	height: 100px;
	width: 100px;
	font-family: 'Comfortaa';
	font-size: 30px;
	margin: 75px auto 35px auto;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.67);
	border-width: 5px;
	border-radius: 50%;
	background-color: rgba(7, 199, 0, 0.51);
	text-align: center;
	line-height: 100px;
}

.warning {
	background-color: rgba(212, 177, 0, 0.91)
}

.danger {
	background-color: rgb(255, 0, 0)
}

.list-group-item {
	background-color: rgba(0, 0, 0, 0.35)
}

.scoreboard {
	height: 350px;
}

.scoreboardList {
	margin: 0 15 20 15;
}

.hide {
  display: none;
}

.chatMessages {
	font-family: 'Comfortaa';
	font-size: 16px;
	color: #ffffff;
	flex-grow: 1;
	margin-top: 5px;
}

.chatUsername {
	font-weight: bolder;
}

.flex {
	display: flex;
	flex-direction: column;
}
